.footer-container {
  height: 12rem;
  background-color: #584268;
  color: #fff;
  text-align: center;
}

.mat-list-base .mat-list-item {
  color: rgba(255, 255, 255, 0.87);
  letter-spacing: .1rem;
}

.mat-list-base {
  display: inline-block;
}

.divider {
  background-color: #c8c8c8;
  height: 70%;
}

.mat-icon {
  height: 32px;
  width: 32px;
}


