p {
    font-size: 16px;
    letter-spacing: .08rem;
  }
  
  span {
    font-weight: 500;
  }
  
  .action-container {
    margin: 1.5rem auto;
  }
  
  .form-container {
    overflow: hidden;
  }
  
  .action-button-row {
    margin: 2rem 0;
  
  }
  
  mat-form-field {
   font-size: 18px;
  }
  
  agm-map{
    height: 300px
  }

  .mat-card {
    background-color: #efefff;
  }
  