.header-container {
    margin: 2rem 0 3rem 0;
  }

.feature-container {
  margin: 1.8rem auto;
}

  .mat-card {
    background-color: #efefff;
    padding: 2rem;
  }
  
  span {
    font-size: 105%;
  }
  