.grid-container {
  margin: 20px;
  background-color: #85649d;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;

}

.mat-card-content .mat-card-subtitle {
  font-size: 16px;
}

.card-img {
  width: 60%;
}

.prova {
  border: 1px solid blue ;
}

.section-img {
  height: 150px;
}

