.icon-close {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
  }
  
  .controls-container {
    width: 90%;
    padding: 5%;
  }
  
  .controls-container > * {
    width: 80%;
  }
  
  .dialog-container {
    position: relative;
  }
  
  .button-row button {
    margin: 15px 20px 10px 0;
  }